@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.container {
    width: fit-content;
}

.card {
    color: #1DA1F2;
    background: #ffffff;
    border: 3px solid #1DA1F2;
}

.card-header {
    background: #a9cee4;
}

.logo {
    border-radius: 10%;
}
