@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.container {
    width: fit-content;
}

.card {
    color: #25D366;
    background: #ffffff;
    border: 3px solid #25D366;
}

.card-header {
    background: #aeedc5;
}

.btn {
    background: #25D366;
    border: 3px solid #25D366;
}
