<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="register.css">
    <title>Register</title>
</head>

<body>
    <div class="container">
        <form method="POST" action="../login/login.html" enctype="multipart/form-data"><br>
            <div class="card">
                <div class="card-header">
                   <center><h3>REGISTRO</h3></center>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Datos del Usuario</h5>
                    <p class="card-text">
                        <div class="form-group">
                            <label for="textNombre">Nombre: </label>
                            <input id="textNombre" class="form-control" type="text" name="textNombre" placeholder="Ingrese su nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="textApellido">Apellido: </label>
                            <input id="textApellido" class="form-control" type="text" name="textApellido" placeholder="Ingrese su apellido" required>
                        </div>
                        <div class="form-group">
                            <label for="textCorreo">Correo: </label>
                            <input id="textCorreo" class="form-control" type="email" name="textCorreo" placeholder="Ingrese su correo" required>
                        </div>
                        <div class="form-group">
                            <label for="textPassword">Contraseña: </label>
                            <input id="textPassword" class="form-control" type="password" name="textPassword" placeholder="Ingrese su contraseña" required>
                        </div><br>
                        <div>
                            <center><input type="submit" value="Crear cuenta" class="btn btn-primary"></center>
                            <center><br><p>¿Ya tienes una cuenta? <a href="../login/login.html">Inicia Sesión</a></p></center>
                        </div>
                    </p>
                </div>
            </div>
        </form>
    </div>

</body>
</html>
